// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#profile-info {
	margin-top: 10px;
	height: 200px;
	width: 300px;
	background-color: white;
	border: 1px solid #DDD;
	border-radius: 4px;
}

#UserList {
	margin-top: 20px;
	width: 300px;
	height: 500px;
	background-color: green;
}

#posts-container{
	position: relative;
	left: 320px;
	top: -722px;
	height: auto;
	width: 680px;
	background-color: white;
	border: 1px solid #DDD;
	border-radius: 4px;
}

#profile_pic{
	position: relative;
	top: 20px;
	left: 20px;
	border:8px solid #DDD;
	border-radius: 10px;
}

#profile_name{
	position: relative;
	top: -50px;
	left: 90px;
	font-size: 30px;
	font-weight: bolder;
}

#new-post{
	position: relative;
	bottom: 23px;
	height: 80px;
	width: inherit;
	background-color: rgb(75, 141, 249);
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#new-post input{
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

#post-casing{
	width: 640px;
}

.post{
	list-style: none;
	height: auto;
	width: 600px;
	padding: 10px;
	background-color: #EEE;
	margin-top: 10px;
}

.iframe-faker{
	display: none;
	height: 330px;
	width: 330px;
	background-color: black;
}

.post-title{
	padding: 4px;
	border-bottom: 1px solid black;
}

.author-name{
	font-size: 20px;
	font-weight: bolder;
}

.post-content{
	margin-top: -10px;
	height: auto;
	width: 600px;
}





